// COLORS
// Primary
$color-primary-default: #00d68f;
$color-primary-transparent: rgba(0, 214, 143, 0.48);
$color-primary-dark: #004a45;
$color-gradient-start: #43e97b;
$color-gradient-end: #38f9d7;

// Action
$color-action-default: #ff3d71;
$color-action-dark: #db2c66;

// Neutrals
$color-neutral-100: #ffffff;
$color-neutral-200: #f7f9fc;
$color-neutral-300: #edf1f7;
$color-neutral-400: #e4e9f2;
$color-neutral-500: #c5cee0;
$color-neutral-600: #8f9bb3;
$color-neutral-700: #2e3a59;
$color-neutral-800: #222b45;
$color-neutral-900: #192038;
$color-neutral-1000: #151a30;
$color-neutral-1100: #101426;

// Modal Background
$color-modal-bg: rgba(0, 0, 0, 0.35);

//Modal Form
$color-form-focus: #598bff;

//SIZES
// Modal
$modal-width: 360px;
$modal-height: 559px;
$modalImg-container-size: 247px;
$modalImg-img-size: 120px;
