@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.typo {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    line-height: 24px;
    font-weight: bold;
    &--title {
        font-size: 18px;
    }
    &--subtitle {
        font-size: 15px;
        font-weight: 600;
    }
    &--button {
        font-size: 18px;
    }
    &--label {
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
    }
}
