.type {
    &--bug {
        background-color: #87950c;
    }

    &--dark {
        background-color: #413831;
    }

    &--dragon {
        background-color: #7361d1;
    }

    &--electric {
        background-color: #e08d00;
    }

    &--fairy {
        background-color: #e29fe6;
    }

    &--fighting {
        background-color: #852816;
    }

    &--fire {
        background-color: #cf2c03;
    }

    &--flying {
        background-color: #8fa4ff;
    }

    &--ghost {
        background-color: #6969af;
    }

    &--grass {
        background-color: #67af32;
    }

    &--ground {
        background-color: #c5a455;
    }

    &--ice {
        background-color: #b4edf8;
    }

    &--normal {
        background-color: #c4c0b4;
    }

    &--poison {
        background-color: #924990;
    }

    &--psychic {
        background-color: #e25484;
    }

    &--rock {
        background-color: #5e491c;
    }

    &--steel {
        background-color: #7f8488;
    }

    &--water {
        background-color: #3b9bf1;
    }
}

.pixel {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
