@import '../../assets/sass/abstracts/variables';

$container-size: 247px;
$img-size: 120px;
$name-button-size: 16px;
$edit-button-size: 48px;

.createPokemon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-neutral-200;
    margin-top: 162px;

    &-dropdown {
        padding: 0px 22px;
        width: 100%;
        position: relative;
        &-info {
            border: 2px solid $color-neutral-400;
            border-radius: 4px;
            background-color: $color-neutral-100;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 8px;
            &__placeholder {
                color: $color-neutral-500;
            }
            &__icon {
                height: auto;
                width: 10px;
            }
            &__type {
                background-color: $color-neutral-400;
                border-radius: 24px;
                padding: 0px 12px;
                display: flex;
                align-items: center;
                margin-left: 15px;
                &-text {
                    color: $color-neutral-700;
                }
                &-icon {
                    height: 12px;
                    width: 12px;
                    border: none;
                    margin-left: 4px;
                    cursor: pointer;
                    & img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        &-content {
            width: 315px;
            height: 200px;
            display: none;
            position: absolute;
            background-color: $color-neutral-100;
            box-shadow: 0px 0px 1px rgba(9, 30, 66, 0.31),
                0px 4px 8px rgba(9, 30, 66, 0.25);
            filter: drop-shadow(0px 0px 1px rgba(9, 30, 66, 0.31))
                drop-shadow(0px 4px 8px rgba(9, 30, 66, 0.25));
            border-radius: 3px;
        }
        &-element {
            width: 100%;
            color: $color-neutral-700;
            background-color: $color-neutral-100;
            padding: 8px 12px;
            cursor: pointer;
            border: none;
            text-align: left;
            &:hover {
                background-color: $color-neutral-300;
            }
        }
    }
    &-dropdown:hover .createPokemon-dropdown-content {
        display: block;
    }

    &-input {
        width: 100%;
        border: 2px solid $color-neutral-400;
        border-radius: 4px;
        &:focus {
            border: 2px solid $color-form-focus;
        }
        &__text {
            border-radius: 4px;
            text-transform: capitalize;
            color: $color-neutral-1100;
            padding: 10px 0px 10px 8px;
            background-color: $color-neutral-100;
            &::placeholder {
                color: $color-neutral-500;
            }
        }
        &__number {
            display: flex;
            align-items: center;
            & > input {
                width: 100%;
                text-transform: capitalize;
                color: $color-neutral-1100;
                padding: 10px 0px 10px 8px;
                background-color: $color-neutral-100;
                border: none;
                &::placeholder {
                    color: $color-neutral-500;
                }
            }
        }

        &__tag {
            position: relative;
            color: $color-neutral-700;
            margin-top: -38px;
            margin-left: 259px;
            width: 30px;
        }
        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            &-up {
                box-shadow: inset 1px -1px 0px #dfe2e7;
                border-radius: 0px 2px 0px 0px;
            }
            &-down {
                box-shadow: inset 1px 0px 0px #dfe2e7;
                border-radius: 0px 0px 1px 0px;
            }
            & > button {
                height: 22.5px;
                width: 24px;
                background-color: #ebecf0;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &-info {
        display: flex;
        padding: 0px 22px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 24px;
        height: 70px;
        &__ability {
            height: 48px;
        }
        &__withIcon {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            color: $color-neutral-700;
        }
        &__title {
            color: $color-neutral-700;
            margin-bottom: 6px;
        }
        &__icon {
            width: 18px;
            margin-right: 12px;
            display: flex;
            justify-content: center;
            &-img {
                height: 18px;
                width: auto;
                &__speed {
                    height: 14px;
                    width: auto;
                }
            }
        }
    }
    &-abilities {
        padding: 0px 22px;
        & > input {
            margin-bottom: 12px;
        }
    }
    &-blank {
        margin-top: 164px;
    }
}
