@import '../../assets/sass/abstracts/variables';

.modalData {
    width: 100%;
    height: 406px;
    display: flex;
    flex-direction: column;
    background-color: $color-neutral-200;
    border-radius: 24px 24px 0px 0px;
    margin-top: -$modalImg-img-size;
}
