@import '../../assets/sass/abstracts/variables';

.home {
    background-image: linear-gradient(90deg, #43e97b 0%, #38f9d7 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    &-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-logo {
        width: 270px;
        height: 99px;
        margin-bottom: 32px;
    }
    &-button {
        border: none;
        z-index: 30;
        filter: drop-shadow(0px 0px 1px rgba(9, 30, 66, 0.31))
            drop-shadow(0px 20px 32px rgba(9, 30, 66, 0.25));
        cursor: pointer;
        border-radius: 42px;
        background-color: $color-action-default;
        padding: 16px 24px;
        color: $color-neutral-100;
    }
}
