@import '../../assets/sass/abstracts/variables';

$container-size: 247px;
$img-size: 120px;
$name-button-size: 16px;
$edit-button-size: 48px;

.pokemonInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-neutral-200;
    margin-top: 162px;

    &-name {
        display: flex;
        align-items: center;
        margin-bottom: 36px;
        &__margin {
            margin-left: $name-button-size + 28px;
        }
        &__text {
            color: $color-neutral-700;
        }
        &__button {
            height: $name-button-size;
            width: $name-button-size;
            background-position: center;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            margin-left: 28px;
            cursor: pointer;
        }
    }
    &-edit {
        display: flex;
        align-items: center;
        margin-top: -12px;
        margin-bottom: 22px;
        filter: drop-shadow(0px 0px 1px rgba(9, 30, 66, 0.31))
            drop-shadow(0px 20px 32px rgba(9, 30, 66, 0.25));
        &__input {
            text-transform: capitalize;
            color: $color-neutral-1100;
            padding: 12px 16px;
            background-color: $color-neutral-100;
            border: 1px solid $color-neutral-600;
            border-radius: 4px;
            &::placeholder {
                color: $color-neutral-1100;
            }
        }
        &__button {
            height: $edit-button-size;
            width: $edit-button-size;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-neutral-300;
            border-radius: 4px;
            margin-left: 8px;
            border: none;
            cursor: pointer;
            & > img {
                height: 12px;
                width: auto;
            }
        }
    }
    &-about {
        display: flex;
        width: 100%;
        margin-bottom: 24px;
        color: $color-neutral-700;
        &__margin {
            margin-top: 8px;
        }
        &__borders {
            border-left: 1px $color-neutral-500 solid;
            border-right: 1px $color-neutral-500 solid;
        }
    }
    &-about > div {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px;
        width: 100%;
        &__title {
            padding: 6px 12px;
            color: $color-neutral-700;
        }
        &__line {
            height: 1px;
            width: 100%;
            background-color: $color-neutral-500;
        }
    }
    &-types {
        margin-top: 30px;
        margin-bottom: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__type {
            min-width: 67px;
            text-align: center;
            padding: 8px 16px;
            margin: 0px 5px;
            border-radius: 42px;
            color: $color-neutral-100;
        }
    }
    &-abilities {
        margin-top: 38px;
        margin-bottom: 50px;
        color: $color-neutral-700;
        padding: 0px 60px;
        text-align: center;
    }
    &-stats {
        width: 100%;
        margin-top: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 25px;
        color: $color-neutral-700;

        &__icon {
            width: 18px;
            margin-right: 12px;
            display: flex;
            justify-content: center;
            &-img {
                height: 18px;
                width: auto;
                &__speed {
                    height: 14px;
                    width: auto;
                }
            }
        }
        &__name {
        }
        &__value {
            margin-left: auto;
        }
    }
    &-blank {
        &__CAPTURE {
            margin-top: 114px;
        }
        &__BASE {
            margin-top: 164px;
        }
    }
}
