.map {
    position: relative;
    height: 100vh;
    background: url('../../assets/images/pageBackground.png') center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
