@import '../../assets/sass/abstracts/variables';

.modalSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    width: 100%;
    margin-bottom: 18px;
    &__title {
        padding: 6px 12px;
        color: $color-neutral-700;
    }
    &__line {
        height: 1px;
        width: 100%;
        background-color: $color-neutral-500;
    }
}
