@import '../../assets/sass/abstracts/variables';
@import '../../assets/sass/abstracts/mixins';

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(#000, 0.5);

    &__content {
        box-shadow: 0 0 1px rgba(#000, 0.3), 0 4px 8px rgba(#000, 0.25);
        border-radius: 8px;
        width: $modal-width;
        height: $modal-height;
        @include respond(phone) {
            height: 100%;
            width: 100%;
        }
        background-image: linear-gradient(
            90deg,
            $color-gradient-start 0%,
            $color-gradient-end 100%
        );
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.button-close {
    position: relative;
    margin-top: 12px;
    margin-right: -$modal-width + 39px + 24px;
    color: $color-neutral-700;
    background-color: $color-neutral-200;
    border: 2px solid $color-neutral-600;
    border-radius: 50%;
    padding: 9.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(phone) {
        margin-left: auto;
        margin-right: 12px;
    }
    &:hover {
        cursor: pointer;
    }
    & > img {
        width: 19px;
        height: 19px;
    }
}
