@import '../../assets/sass/abstracts/variables';

$ash-size: 60px;
$tooltip-size: 72px;
$tooltip-offsetX: 4px;

.ash {
    position: relative;
    background: transparent;
    height: $ash-size;
    width: $ash-size;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &-disabled {
        &:hover {
            cursor: default;
        }
    }
}


.tooltip {
    position: relative;
    background: url('../../assets/images/findTooltip.png');
    height: $tooltip-size;
    width: $tooltip-size;
    background-position: center;
    background-repeat: no-repeat;
    top: -40px - $tooltip-size / 2;
    left: $ash-size/2 - $tooltip-size/2 + $tooltip-offsetX;
}
