@import '../../assets/sass/abstracts/variables';

$plusIcon-size: 25px;

.sidebar {
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    display: flex;
    flex-direction: column;

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 12.8rem;
        font-size: 4rem;
        font-weight: bold;
        color: $color-primary-dark;
        cursor: pointer;
        transition: all 0.2s;

        &__pokemon {
            border: 0.4rem solid $color-primary-default;
            background-color: $color-neutral-200;
            padding: 14px;
            &-img {
                width: 100%;
                height: 100%;
            }
        }
        &__empty {
            border: 0.4rem solid $color-primary-dark;
            background-color: $color-primary-default;
            &:hover {
                background-color: darken($color-primary-dark, 0.5);
                color: $color-primary-default;
            }
        }
        &__new {
            border: 0.4rem solid $color-action-dark;
            background-color: $color-action-default;
            padding: 14px;
            &-img {
                width: 100%;
                height: 100%;
            }
        }

        &:not(last-of-type) {
            margin-bottom: 1.6rem;
        }
    }
}
