@import '../../assets/sass/abstracts/variables';
@import '../../assets/sass/abstracts/mixins';

$button-size__capture: 110px;

.modalButton {
    position: absolute;
    border: none;
    z-index: 30;
    filter: drop-shadow(0px 0px 1px rgba(9, 30, 66, 0.31))
        drop-shadow(0px 20px 32px rgba(9, 30, 66, 0.25));
    cursor: pointer;
    @include respond(phone) {
        bottom: 0;
        margin-bottom: 52px;
    }
    &-default {
        border-radius: 42px;
        background-color: $color-action-default;
        padding: 16px 24px;
        color: $color-neutral-100;
        margin-top: $modal-height - 56px - 52px;
    }
    &-capture {
        height: $button-size__capture;
        width: $button-size__capture;
        background-color: transparent;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: $modal-height - $button-size__capture/2 - 80px;
        @include respond(phone) {
            margin-bottom: 32px;
        }
    }
}
