@import '../../assets/sass/abstracts/variables';

.modalImg {
    &-container {
        position: relative;
        height: $modalImg-container-size;
        width: $modalImg-container-size;
        background: $color-neutral-200;
        border-radius: 50%;
        border: 4px solid $color-primary-default;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -24px;
        z-index: 20;
    }
    &-image {
        height: $modalImg-img-size;
        width: $modalImg-img-size;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
